.body{
    background-image:url(../images/deco2.jpg) ;
}
 .container{
    width: 1000px;
    height: 2500px;
    background-color: rgb(172, 97, 44);
    margin-top: 150px;
} 
h3{
    color: aliceblue;
    margin-left: 130px;
}
img{
    margin-top: 50px;
    margin-left: 130px;
}
span{
    margin-left: 130px;
}
#btn{
    width: 150px;
  
}